/* Navigation Bar Starts Here */
*{
    margin:0px;
}
nav a {
    margin: 3.5vw;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    margin-top: 2rem;
    margin-left: 30vw;
    padding: 2px;
}

#topnav {
    padding-top: 50px;
}


nav :hover{
    color: aliceblue;
}

#home {
    background-image: url("images/car-back.png");
    background-size: cover;
    background-position: center; 
    background-color: #ffffff; 
    height: 101.5vh;
    margin-top: -5vh;
}

@media screen and (max-width:1300px) {
    nav a{
        margin: 2vw;
        text-decoration: none;
    }
    
    nav {
        margin-top: 2.5rem;
        margin-left: 20%;
        padding: 2px;
    }
}

/* main body starts here */

#home h1 {
    font-size: 5rem;
    margin-left: 6vw;
    margin-top: 12vh;  
    margin-bottom: 20px; 
}

span {
    color: orangered;
}

#home p {
    margin-top: 20px;
    margin-left: 7vw;
    font-size: 1.3rem;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#home button {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1rem;
    margin-left: 13vw;
    margin-top: 3vh;
    border-width: 0px;
    height: 4rem;
    width: 16rem;
    cursor: pointer;
    color: white;
    background-color: rgb(248, 74, 26);
}

#login-form {
    float: right;
    background-color: black;
    height: 52%;
    width: 20vw;
    margin-top: -18%;
    margin-right: 10%;
    opacity: 82%;
    border-radius: 5%;
}

#login-form h2 {
    color: rgb(248, 74, 26);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 16vw;
    height: 2.5rem;
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 25px;
    align-items: center;
    border-radius: 5rem;
    text-align: center;
    font-weight: bolder;
}

#login-form input {
    margin-top: 40px;
    margin-left: 2rem;
    height: 5vh;
    width: 15.5vw;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    color: white;
    border: none;
    border-bottom: 1px solid orangered;
}

.white-placeholder::placeholder {
    color: white;
    font-size: 1rem;
    border-color: transparent;
    box-shadow: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#login-form button {
    margin-left: 5vw;
    margin-top: 7vh;
    height: 5vh;
    width: 10vw;
    font-size: 1.7rem;
}

#login-form p {
    color: white;
    font-size: large;
    text-align: center;
    margin-left: -0vw;
    margin-top: 25px;
    line-height: 1.3rem;
}

a {
    text-decoration: none;
}

@media screen and (max-width:1250px) {
    #login-form {
        height: 52%;
        width: 22%;
        margin-top: -23%;
        margin-right: 2%;
    }

    #login-form button {
        margin-left: 27%;
    }
}

@media screen and (max-width:1150px) {
    #login-form {
        display: none;
    }

    #home a button {
        margin-left: 40%;
        margin-top: 5%;
    }

}

/* Service Page Starts */

#services h1 {
    padding: 0.6rem;
    text-align: center;
    color: orangered;
    font-size: 3rem;
    /* text-decoration: underline; */
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 92vh;
    width: 89vw;
    margin: 10%;
    margin-top: 0vh;
}

.f1 {
    height: 36vh;
    width: 18vw;
    background-color: white;
    margin: 1.2rem;
    box-shadow: 0.5px 0.5px 0px 0px rgb(224, 223, 223);
    border-radius: 5%;
}

.f1 h2 {
    background-color: rgb(248, 71, 7);
    color: rgb(8, 7, 7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 4vh;
    text-align: center;
    padding: 0.5rem;
    margin-top: 3.5vh;
    width: auto;
    align-items: center;
    font-size: 26px;
}

.f1:hover {
    box-shadow: 0rem 0rem 2rem 1rem rgb(220, 219, 219);
}

.f1 img {
    height: 25vh;
    margin-top: 3.5vh;
}

/* Vehicles Section Starts here */

#vehicles {
    height: 100vh;
    margin-top: -17.5vh;
    overflow: hidden;
}

#vehicles h1 {
    padding: 0.6rem;
    text-align: center;
    color: orangered;
    font-size: 3rem;
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#design {
    height: 70vh;
    width: 60vw;
    background-color: rgb(255, 97, 40);
    border-radius: 50%;
    margin-left: 65rem;
    position: relative;
    margin-top: -65vh;
}

#design img {
    float: right;
    height: 60vh;
    margin-right: 30vw;
}

#search {
    background-color: white;
    height: 60vh;
    width: 28vw;
    margin-left: 10vw;
    margin-top: 10vh;
    box-shadow: 0rem 0rem 2rem 1rem rgb(220, 219, 219);
}

#search h1 {
    /* color: black; */
    font-size: 2rem;
    text-align: left;
    margin-left: 2vw;
    padding: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search p {
    color: rgb(56, 56, 56);
    font-size: larger;
    margin-left: 4vw;
    margin-top: -1rem;
}

#destination {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

#destination input {
    margin-top: 50px;
    margin-left: 4rem;
    height: 5vh;
    width: 20vw;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    color: rgb(93, 93, 93);
    border: none;
    border-bottom: 1px solid orangered;
}

#destination input::placeholder {
    color: rgb(93, 93, 93);
    font-size: 0.9rem;
    border-color: transparent;
    box-shadow: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#destination button {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1rem;
    margin-left: 6vw;
    margin-top: 5vh;
    border-width: 0px;
    height: 3rem;
    width: 16rem;
    cursor: pointer;
    color: white;
    background-color: rgb(248, 74, 26);
}

#destination button a {
    text-decoration: none;
    color: white;
}