/* Navigation Bar Starts Here */
*{
    margin:0px;
}
nav a {
    margin: 3.5vw;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    margin-top: 2rem;
    margin-left: 30vw;
    padding: 2px;
}

#topnav {
    padding-top: 50px;
}


nav :hover{
    color: aliceblue;
}

#home {
    background-image: url("images/car-back.png");
    background-size: cover;
    background-position: center; 
    background-color: #ffffff; 
    height: 101.5vh;
    margin-top: -5vh;
}

/* main body starts here */

#home h1 {
    font-size: 5rem;
    margin-left: 6vw;
    margin-top: 12vh;  
    margin-bottom: 20px; 
}

span {
    color: orangered;
}

#home p {
    margin-top: 20px;
    margin-left: 7vw;
    font-size: 1.3rem;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#home button {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1rem;
    margin-left: 13vw;
    margin-top: 3vh;
    border-width: 0px;
    height: 4rem;
    width: 16rem;
    cursor: pointer;
    color: white;
    background-color: rgb(248, 74, 26);
}

#login-form {
    float: right;
    background-color: black;
    height: 45vh;
    width: 20vw;
    margin-top: -25vh;
    margin-right: 17vw;
    opacity: 82%;
    border-radius: 5%;
}

#login-form h2 {
    color: rgb(248, 74, 26);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    width: 16vw;
    height: 2.5rem;
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 25px;
    align-items: center;
    border-radius: 5rem;
    text-align: center;
    font-weight: bolder;
}

#login-form input {
    margin-top: 40px;
    margin-left: 2rem;
    height: 5vh;
    width: 15.5vw;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    color: white;
    border: none;
    border-bottom: 1px solid orangered;
}

.white-placeholder::placeholder {
    color: white;
    font-size: 1rem;
    border-color: transparent;
    box-shadow: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#login-form button {
    margin-left: 5vw;
    margin-top: 7vh;
    height: 5vh;
    width: 10vw;
    font-size: 1.7rem;
}

#login-form p {
    color: white;
    font-size: large;
    text-align: center;
    margin-left: -0vw;
    margin-top: 25px;
    line-height: 1.3rem;
}

a {
    text-decoration: none;
}

/* Service Page Starts */

#services h1 {
    padding-top: 2rem;
    text-align: center;
    color: orangered;
    font-size: 3rem;
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#services img {
    float: left;
    height: 40vh;
    margin-left: 6vw;  
}

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
    margin: 10%;
    margin-top: 5vh;
}

.f1 {
    height: 40vh;
    width: 18vw;
    background-color: white;
    margin: 1.2rem;
    box-shadow: 0.5px 0.5px 0px 0px rgb(224, 223, 223);
}

.f1 h2 {
    
}